[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
jupyterlab = "*"
pandas = "*"
scikit-learn = "*"
seaborn = "*"
plotly = "*"
voila = ">=0.3"
xeus-python = ">=0.13.3"
ipywidgets = "*"
jupyterlab-widgets = "*"
nltk = "*"
wordcloud = "*"
spacy = "*"
gensim = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
